@model Category

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary" style="color:green;">Edit Category</h2>
            <hr />

        </div>
        <div asp-validation-summary="All"></div> @* error summary message *@
        <div class="mb-5" style="margin-bottom:15px">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger" style="color:red;"></span>
        </div>

        <div class="mb-5" style="margin-bottom:15px">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger" style="color:red;"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px"> Update</button>
        &nbsp;
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>


</form>

@* Add client side validation *@
@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />
}    
}