@* extract temp data alerts here *@

@if (TempData["success"] != null) @* success is the tempdata value we created in the categorycontroller *@
{
    <h5 style="color:red; background-color:azure; text-align:center; margin-bottom:10px;">@TempData["success"]</h5>
 }