@* extract temp data alerts here *@

@if (TempData["success"] != null) @* success is the tempdata value we created in the categorycontroller *@
{
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  @* <h5 style="color:red; background-color:azure; text-align:center; margin-bottom:10px;">@TempData["success"]</h5> *@
  <script type="text/javascript">
      toastr.success('@TempData["success"]');
  </script>
}
@if (TempData["error"] != null) @* success is the tempdata value we created in the categorycontroller *@
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @* <h5 style="color:red; background-color:azure; text-align:center; margin-bottom:10px;">@TempData["error"] <br /></h5> *@
    <script type="text/javascript">
        toastr.error('@TempData["error"]');
    </script>
}